<div class="build-jar">
    <h4>Java JAR</h4>
    <ul>
        <li>
            <p>Navegue até o diretório do arquivo ya8puzzle-1.0.jar</p>
        </li>
        <li>
            <p>Execute o comando java</p>
            <p><strong>java -jar ya8puzzle-1.0.jar</strong></p>
        </li>
    </ul>
</div>