<div class="checkout-download">
    <ul>
        <li>
            <p><g:link url="https://bitbucket.org/gabriel24h/yaaie/downloads/ya8puzzle-1.0.jar">Download</g:link> do JAR executável</p>
        </li>
        <li>
            <p><g:link url="https://bitbucket.org/gabriel24h/yaaie/downloads/ya8puzzle-1.0.zip">Download</g:link> do Projeto 8-Puzzle</p>
        </li>
    </ul>
</div>