<%--
  Created by IntelliJ IDEA.
  User: gabriel
  Date: 11/9/12
  Time: 1:43 AM
  To change this template use File | Settings | File Templates.
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>Y.A.A.I.E. - 8-Puzzle</title>
</head>
<body>
<div id="page-body" role="main">
    <h1>FAIL!</h1>
</div>
</body>
</html>