<%--
  Created by IntelliJ IDEA.
  User: gabriel
  Date: 11/7/12
  Time: 9:45 PM
  To change this template use File | Settings | File Templates.
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>Y.A.A.I.E. - 8-Puzzle</title>
</head>
<body>
<div id="page-body" role="main">

<ya8puzzle:form commmand="${command}"/>


</div>

</body>
</html>