<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>Y.A.A.I.E.</title>
</head>
<body>
<div id="page-body" role="main">
    <h2>Yet Another Artificial Inteligence Experiment</h2>

    <div id="controller-list" role="navigation">
        <h2>Aplicação disponível:</h2>
        <ul>
            <li class="controller"><g:link controller="eightPuzzle">8-Puzzle</g:link></li>
        </ul>
    </div>
</div>

</body>
</html>
